.paper {
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.12),
    inset 0px 0.6px 0px rgba(255, 255, 255, 0.1),
    inset 0px 1.2px 0px rgba(255, 255, 255, 0.1),
    inset -1.2px 0px 0px rgba(255, 255, 255, 0.04),
    inset 1.2px 0px 0px rgba(255, 255, 255, 0.04);
  background: radial-gradient(
    113.04% 100% at 50% 0%,
    #111 0%,
    #141414 0.01%,
    rgba(7, 7, 7, 0.12) 100%
  );
  transition: all 0.2s ease-in-out;

  @mixin hover {
    transform: scale(1.05);
    border: 1px solid #1d1d1d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}

.skilltext {
  font-size: 18px;
  @media (max-width: $mantine-breakpoint-md) {
    font-size: 14px;
  }
}

.skillChip {
  background: rgba(87, 0, 95, 0.2);
  color: #ffffff;

  border: 1px solid rgba(1, 81, 134, 0.9);

  padding: 6px 14px;

  border-radius: 20px;

  text-align: center;

  box-shadow: 0 0 6px rgba(87, 0, 95, 0.7);

  transition: all 0.3s ease;

  backdrop-filter: blur(4px);

  cursor: pointer;

  user-select: none;
}

/* Hover like button */
.skillChip:hover {
  background: rgba(87, 0, 95, 0.45);

  box-shadow:
    0 0 8px rgba(87, 0, 95, 0.7),
    0 0 14px rgba(1, 81, 134, 0.7);

  transform: scale(1.05);
}

/* Click effect */
.skillChip:active {
  transform: scale(0.97);
}


.desc {
  @media (max-width: $mantine-breakpoint-md) {
    font-size: 18px;
  }
}
