@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  /* user-select: none;
  background-color: black;
  font-family: "Inter", sans-serif;
  overflow: scroll;
  overflow-x: hidden; */
  margin: 0;
  min-height: 100vh;
  font-family: Montserrat, Quicksand, sans-serif;

  /* Neon Gradient Background */
  background-image: linear-gradient(
    135deg,
    rgba(87, 0, 95, 0.55),
    rgba(0, 0, 0, 0.8),
    rgba(1, 81, 134, 0.5)
  );

  background-size: cover;
  background-attachment: fixed;
}


::-webkit-scrollbar {
  width: 3px;
  border-radius: 20px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 20px;
}

.background {
  position: absolute;
  top: -850px;
  right: 550px;
  z-index: -999999;
}
