.notification {
  box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.12),
    inset 0px 0.6px 0px rgba(255, 255, 255, 0.1),
    inset 0px 1.2px 0px rgba(255, 255, 255, 0.1),
    inset -1.2px 0px 0px rgba(255, 255, 255, 0.04),
    inset 1.2px 0px 0px rgba(255, 255, 255, 0.04);

  background: radial-gradient(
    113.04% 100% at 50% 40%,
    #111 70%,
    #141414 0.01%,
    rgba(7, 7, 7, 0.12) 100%
  );
}
